<footer>
    <p>&copy; Ball Buyers</p>
    <ul>
        <li><a><img src="images/square-facebook-brands-solid.png" alt="Facebook logo"></a></li>
        <li><a><img src="images/square-x-twitter-brands-solid.png" alt="X logo"></a></li>
        <li><a href="https://linkedin.com/in/jakob-c-olsen"><img src="images/linkedin-brands-solid.png" alt="LinkedIn logo"></a></li>
        <li><a href="https://github.com/jakobcolsen/"><img src="images/square-github-brands-solid.png" alt="Github logo"></a></li>
    </ul>
</footer>
</body>
</html>