<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Ball Buyers</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/global.css">
        <script src="/scripts/buttonHandler.js" defer></script>
        <link rel="icon" href="/images/bb-logo.png">
    </head>
    <body>
        <header>
            <a href="/"><img id="BB-logo" src="/images/bb-logo.png" alt="Ball Buyers logo"></a>
            <form method="GET" action="/items/search">            
                <input type="text" name="keywords" id="search" placeholder="Search our catalog...">
            </form>
            <nav>
                <ul>
                    <li><a href="/items">Browse</a></li>
                    <li><a href="/items/new">Sell</a></li>
                    <% if (user) { %>
                        <li><a href="/users/profile">My Account</a></li>
                        <li><a href="/users/logout">Log Out</a></li>
                    <% } else { %>
                        <li><a href="/users/new">Sign Up</a></li>
                        <li class="login"><a href="/users/login">Log In</a></li>
                    <% } %>
                </ul>
            </nav>
        </header>
        <% if (error.length > 0 || success.length > 0) { %>
            <div class="jumping-jack-flash">
                <% if (error.length > 0) { %>
                    <% error.forEach(function(err) { %>
                        <div class="error"><%= err %></div><br>
                    <% }) %>
                <% } %>
        
                <% if (success.length > 0) { %>
                    <% success.forEach(function(scs) { %>
                        <div class="success"><%= scs %></div><br>
                    <% }) %>
                <% } %>
            </div>
        <% } %>