<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Ball Buyers</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <header>
            <a href="/"><img id="BB-logo" src="images/bb-logo.png" alt="Ball Buyers logo"></a>
            <form>            
                <input type="text" id="search" placeholder="Search our catalog...">
            </form>
            <nav>
                <ul>
                    <li><a href="/items">Browse</a></li>
                    <li><a href="/items/new">Sell</a></li>
                    <li><a>Sign Up</a></li>
                    <li class="login"><a>Log In</a></li>
                </ul>
            </nav>
        </header>