<%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="/css/index.css">
    <main>
        <section class="index-information">
            <h1><%= error.status %> - <%= error.message %></h1>
            <p>Whoops! You&apos;re not meant to see this... either what you&apos;re looking for doesn&apos;t exist or something broke.</p>
            <button>Return to Catalog</button>
        </section>
    </main>
<%- include("partials/footer.ejs") %>