<%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="/css/index.css">
    <main>
        <section class="index-information">
            <h1>The Best Baseball Market on the Web!</h1>
            <p>We pride ourselves on giving baseball superfans like us the platform to buy, sell, and trade the highest-quality authentic signed baseballs. From major league legends to recently added rookies, there is an autographed ball waiting for you.</p>
            <button class="catalog-button">Browse the Catalog</button>
        </section>
        <article class="index-about">
            <div class="index-about-text">
                <h2>About Us</h2>
                <p>Like many businesses, Ball Buyers started with a dream. We wanted to make the baseball buying process and simple and trustworthy as possible. Starting out as a small trade forum, Ball Buyers rapidly turned into one of the leading names in memorabilia auctions.</p>
                <p>We're baseball fans, just like you. We know that finding exactly what you want can be hard on other platforms. That's why we stive to make the process of buying and selling easier.</p>
            </div>
            <div class="index-about-image">
                <img src="/images/bb-about.png" alt="Our CEO standing in our corporate headquarters">
                <p>Our founder, Jakob Olsen, standing in our corporate headquaters.</p>
            </div>
        </article>
    </main>
<%- include("partials/footer.ejs") %>