body {
    background-image: url("../images/bb-bg-new.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    border-radius: 25px;
    padding: 2rem;
    background-color: white;
    width: fit-content;
    margin: 5rem auto;
}

h2 {
    text-align: center;
    padding: 1rem;
    font-size: 40px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    max-height: 4rem;
    max-width: 1000px;
    margin-bottom: 3rem;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    gap: 3rem;
}

.item img {
    height: 500px;
    width: 500px;
    border-radius: 25px;
    object-fit: contain;
}

.item-information {
    display: grid;
    grid-template-areas: 
            "irow"
            "description"
            "price"
            "offer-form";
    grid-template-rows: min-content 1fr min-content, min-content;
    max-width: 600px;
    gap: 0.5rem;
}

.item-information-row {
    grid-area: irow;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.item-condition {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    padding-left: 1rem;
    width: 200px;
}

.item-offers {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

.item-price {
    grid-area: price;
    font-size: 60px;
    color: navy;
}

.item-seller {
    font-size: 20px;
    min-width: 200px;
}

.item-description {
    grid-area: description;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    max-width: 100%;
    overflow-y: scroll;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.browse h3 {
    margin: 1rem 0;
    font-size: 30px;
    text-align: center;
}

.browse button {
    padding: 1rem 3rem;
    border-radius: 100px;
    font-size: 24px;
    color: white;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

.browse button:hover {
    background-color: white;
    color: var(--primary-color);
}

.offer-form {
    grid-area: offer-form;
    display: grid;
    grid-template-areas: 
        "label input"
        "button button";
    row-gap: 1rem;
    grid-template-rows: 50px 60px;
    grid-template-columns: 150px 300px;
}

label[for="offer-amount"] {
    grid-area: label;
    align-self: center;
}

#offer-amount {
    grid-area: input;
    padding: 0.5rem;
    border-radius: 15px;
    border: 3px solid var(--primary-color);
    font-size: 24px;
}

.offer-button {
    grid-area: button;
    padding: 0.5rem 3rem;
    border-radius: 15px;
    font-size: 24px;
    color: white;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

.offer-button:hover {
    background-color: white;
    color: var(--primary-color);
}

.delete-offer-button {
    grid-area: dbutton;
    padding: 0.5rem 3rem;
    border-radius: 15px;
    font-size: 24px;
    color: white;
    background-color: #C00000;
    border: 3px solid #C00000;
    width: 450px;
}

.delete-offer-button:hover {
    background-color: white;
    color: #C00000;
}


@media screen and (max-width: 800px) {
    .item-information {
        grid-template-areas: 
            "irow"
            "price"
            "description"
            "offer-form";
        grid-template-columns: 1fr;
    }

    .item img {
        height: 300px;
        width: 300px;
    }

    .item-condition {
        padding-left: 0;
    }

    .item-information-row {
        margin: 1rem 0;
        flex-direction: column;
    }

    .buttons {
        margin-top: 1rem;
    }

    button {
        padding: 0.5rem 1rem;
    }
}