body {
    background-image: url("../images/bb-no-money.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin: 1rem 0 0.5rem 0;
}

.new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 25px;
    padding: 3rem 5rem;
    background-color: white;
    width: fit-content;
    margin: 5rem auto;
}

.new img {
    width: 150px;
}

.new p {
    font-size: 24px;
    text-align: center;
    width: 500px;
    margin: 0 0 1rem 0;
}

.new form {
    display: grid;
    grid-template-areas: 
            "titlelabel title"
            "conditionlabel condition"
            "pricelabel price"
            "descriptionlabel description"
            "imagelabel image"
            ". button";
    grid-template-columns: fit-content 1fr;
    gap: 2rem;
    width: fit-content;
}

label[for="title"] {
    grid-area: titlelabel;
}

label[for="condition"] {
    grid-area: conditionlabel;
}

label[for="price"] {
    grid-area: pricelabel;
}

label[for="description"] {
    grid-area: descriptionlabel;
}

label[for="image"] {
    grid-area: imagelabel;
}

#title {
    grid-area: title;
}

#condition {
    grid-area: condition;
    background-color: white;
}

#price {
    grid-area: price;
}

#description {
    grid-area: description;
    max-width: 500px;
}

#image {
    grid-area: image;
    background-color: white;
}

label {
    font-size: 20px;
    align-self: center;
}

.new form input, .new form textarea, .new form select {
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    font-size: 20px;
    padding: 0.5rem 1rem;
}

.new form button {
    grid-area: button;
    padding: 1rem 3rem;
    border-radius: 25px;
    font-size: 24px;
    color: white;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

.new form button:hover {
    background-color: white;
    color: var(--primary-color);
}

@media screen and (max-width: 800px) {
    .new {
        padding: 3rem 1rem;
    }

    .new p {
        width: 300px;
    }

    .new form {
        grid-template-areas: 
            "titlelabel"
            "title"
            "conditionlabel"
            "condition"
            "pricelabel"
            "price"
            "descriptionlabel"
            "description"
            "sellerlabel"
            "seller"
            "imagelabel"
            "image"
            "button";
        grid-template-columns: fit-content;
        gap: 0.5rem;
    }

    label {
        font-size: 16px;
    }

    .new form input, .new form textarea, .new form select {
        font-size: 16px;
    }

    .new form button {
        padding: 0.5rem 1rem;
        font-size: 16px;
    }
}