<%- include("../partials/header.ejs") %>
        <main>
            <h2>Catalog</h2>
            <div class="item-card-container">
                <a href="item.html"><div class="card">
                    <img src="images/BB_WillieMays.jpeg" class="card-image" alt="Willie Mays 1938 Signed Baseball">
                    <p class="card-title">Willie Mays 1938 Signed B...</p>
                    <p class="card-condition">Great</p>
                    <p class="card-price">$1200.00</p>
                    <p class="card-offers">0 offers</p>
                </div></a>
                <a href="item.html"><div class="card">
                    <img src="images/bb-nyy-team-1999.jpg" class="card-image" alt="1999 NYY Team Signed Baseball">
                    <p class="card-title">1999 NYY Team Signed Ba...</p>
                    <p class="card-condition">Good</p>
                    <p class="card-price">$1535.00</p>
                    <p class="card-offers">2 offers</p>
                </div></a>
                <a href="item.html"><div class="card">
                    <img src="images/bb-danielnorris.JPG" class="card-image" alt="Authentic! Daniel Norris Signed Baseball">
                    <p class="card-title">Authentic! Daniel Norris S...</p>
                    <p class="card-condition">Perfect</p>
                    <p class="card-price">$987.99</p>
                    <p class="card-offers">1 offers</p>
                </div></a>
                <a href="item.html"><div class="card">
                    <img src="images/bb-mickeymantle.jpg" class="card-image" alt="Mickey Mantle Autographed Baseball">
                    <p class="card-title">Mickey Mantle Autograph...</p>
                    <p class="card-condition">Great</p>
                    <p class="card-price">$780.00</p>
                    <p class="card-offers">4 offers</p>
                </div></a>
                <a href="item.html"><div class="card">
                    <img src="images/bb-peterose.jpg" class="card-image" alt="Pete Rose Signed Baseball">
                    <p class="card-title">Pete Rose "I'm Sorry I Bet...</p>
                    <p class="card-condition">Perfect</p>
                    <p class="card-price">$1800.00</p>
                    <p class="card-offers">12 offers</p>
                </div></a>
                <a href="item.html"><div class="card">
                    <img src="images/bb-hankaaron.jpg" class="card-image" alt="Hank Aaron Signed Baseball">
                    <p class="card-title">Hank Aaron Signed Baseball</p>
                    <p class="card-condition">Fair</p>
                    <p class="card-price">$610.00</p>
                    <p class="card-offers">0 offers</p>
                </div></a>
                <div class="catalog-end">
                    <img src="images/bb-logo.png" alt="Ball Buyers logo">
                    <h3>Want to see your items here?</h3>
                    <button>Sell with Ball Buyers</button>
                </div>
            </div>
        </main>
<%- include("../partials/footer.ejs") %>