<%- include("../partials/header.ejs") %>
        <main>
            <h2>Item</h2>
            <article class="item">
                <img src="images/BB_WillieMays.jpeg" alt="Willie Mays 1938 Signed Baseball">
                <div class="item-information">
                    <p class="item-title">Willie Mays 1938 Signed Baseball</p>
                    <p class="item-seller">Sold by: Jakob Olsen</p>
                    <p class="item-condition">Great Condition</p>
                    <p class="item-offers">0 offers</p>
                    <p class="item-price">$1200.00</p>
                    <p class="item-description">Authenticated 1938 baseball signed by Willie Mays! Kept in great condition, no restoration work has been done to the ball.</p>
                    <div class="buttons">
                        <button class="edit">Edit</button>
                        <button class="delete">Delete</button>
                    </div>
                </div>
            </article>
            <div class="browse">
                <h3>Not what you were looking for?</h3>
                <button>Browse the Catalog</button>
            </div>
        </main>
<%- include("../partials/header.ejs") %>